<div class="card border-primary shadow-sm">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Lista de productos</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @if(products && products.length > 0){
            <table class="table table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th>
                            <button class="btn btn-primary"
                             style="width: 80%;" (click)="toggleImage()">
                                <i class="bi bi-eye"></i>
                                {{ showImage() ? 'Ocultar' : 'Mostrar' }} Imágenes
                            </button>
                        </th>
                        <th>Producto</th>
                        <th>Código</th>
                        <th>Disponible</th>
                        <th>Precio</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    @for (producto of products; track producto.productId){
                    <tr>
                        <td>
                            @if(showImage()){
                                <img [src]="producto.imageUrl | defaultImage" [alt]="producto.productName" class="img-thumbnail"
                                    style="max-width: 100px;">
                            }
                        </td>
                        <td>{{ producto.productName }}</td>
                        <td>{{ producto.productCode }}</td>
                        <td>{{ producto.releaseDate | date:'dd/MM/yyyy' }}</td>
                        <td>{{ producto.price }}</td>
                        <td><app-star [rating]="producto.starRating"></app-star></td>
                        <td>
                            <button class="btn btn-success" (click)="viewProduct(producto.productId)">
                                <i class="bi bi-eye"></i> Ver
                            </button>
                            &nbsp;
                            <button class="btn btn-warning" (click)="editProduct(producto.productId, producto)">
                                <i class="bi bi-pencil"></i> Editar
                            </button>
                             &nbsp;
                            <button class="btn btn-danger" (click)="deleteProduct(producto.productId)">
                                <i class="bi bi-trash"></i> Eliminar
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            }@else{
            <div class="alert alert-info mb-0" role="alert">
                No se encontraron productos.
            </div>
            }
        </div>
    </div>
</div>